:root {
  --black-900: black;
  --black-700: #0f0f0f;
  --color-white: #ffffff;

  --color-gray-500: #71717a;
  --color-gray-100: #f4f4f4;
  --color-gray-200: #dadada;
  --Neutral-5: #dadada;
  --Neutral-4: #c5c5c5;

  --color-blue-700: #2871ff;

  --fz-1: 50px;
  --fz-2: 42px;
  --fz-3: 32px;
  --fz-4: 24px;
  --fz-5: 18px;
  --fz-6: 16px;
  --fz-7: 14px;
  --fz-8: 12px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --border-color: linear-gradient(-45deg, #2871ff, #62e875);

  --border-width: 2px;
  --curve-size: 16px;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* max-width: 1440px; */
  margin-inline: auto;
  background-color: var(--black-700);
  /* margin-top: 30px; */
  font-family: "Rajdhani", sans-serif;
  color: var(--color-white);
  position: relative;
  z-index: 99999;
}
@media screen and (max-width: 600px) {
}

section {
  margin: 30px 0;
  padding: 0 100px;
}
header {
  /* position: fixed; */
  position: fixed;
  padding: 30px 100px;
  /* width: 100%; */
  width: 100%;
  /* -webkit-transform: translateZ(0); */
  right: 0;
  z-index: 99999999999999999;
  /* filter: blur(20px); */
  /* -webkit-filter: blur(20px); */

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
h3 {
  font-size: 42px;
}
article {
  padding-top: 30px;
}

@media screen and (max-width: 992px) {
  section {
    padding: 0 20px;
  }
  header {
    padding: 20px 0;
  }
}

.glowContainer img {
  width: 100%;
}
.lightImg {
  width: 900px;
  height: 900px;
  position: absolute;
  top: -11%;
  left: 0;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 786px) {
  .lightImg {
    top: -6.5%;
  }
}

/* navigation */

.logoContainer img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1440px; */
  right: 0;
  gap: 135px;
  margin: 0 auto;
  /* padding: 0 30px; */
  z-index: 999999999999999;
  position: relative;
}
@media screen and (max-width: 992px) {
  nav {
    padding: 0 20px 0 20px;
  }
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  
}
/* .nav-list li{
      background-color: #ffffff33;
          backdrop-filter: blur(20px);
    } */
nav ul li a {
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 18px;
}
@media screen and (max-width: 1100px) {
  .nav-list a {
    font-size: 16px;
  }
}

nav ul li a:hover,
nav ul li a:focus {
  color: var(--color-blue-700) !important;
  /* border-bottom: 2px solid var(--color-blue-700); */
  font-weight: var(--fw-700);
}
.active {
  color: var(--color-blue-700) !important;
  font-weight: var(--fw-700);
}
.nav-list a:where(:hover, :focus)::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: 15px;
  left: 0;
  border-bottom: 2px solid var(--color-blue-700);
  transition: all 1s;
}

.humbrger {
  display: none;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.bar {
  width: 40px;
  height: 3px;
  background-color: var(--color-white);
}
.bar2 {
  width: 30px;
  height: 3px;
  background-color: var(--color-white);
  position: absolute;
  top: 12px;
  right: 0;
}

.options {
  /* position: relative; */
  color: var(--color-gray-100);
  transition: all 0.5s ease-in-out;
}
.select {
  width: 78.63px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.showEnglishLanguageIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nonDisplay {
  display: none;
}
.showArabicLanguageIcon {
  display: none;
  align-items: center;
  gap: 5px;
}

.englishIcone {
  display: none;
}

.dropDown ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
}
.dropDown ul li {
  width: 100%;
  list-style-type: none;
}

.dropDown {
  display: none;
  position: absolute;
  z-index: 3;
  top: 55%;
  right: 0;
  background-color: black;
  border-radius: 10px;
  width: 90px;
  margin-top: 10px;
  transition: all 1s ease-in-out;
}
.dropDownArabic{
  right: auto;
  left: 0;
}

.mini-nav-dropDown {
  display: none;
  margin-left: 100px;
}
.display {
  display: block;
}
.mini-nav-dropDown ul {
  margin: 0 !important;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mini-nav-dropDown ul li {
  margin: 10px 0;
}
.mini-nav-dropDown ul li:last-child {
  margin-bottom: 0;
}
.language {
  display: flex;
  align-items: center;
  gap: 5px;
}
.closeIcon {
  display: none;
  transform: rotate(135deg);
  font-size: 58px;
}
@media screen and (min-width: 900px) {
  .humbrger {
    display: none !important;
  }
  .closeIcon {
    display: none !important;
  }
}
@media screen and (max-width: 900px) {
  .nav-list {
    display: none;
  }
  .humbrger {
    display: flex;
    z-index: 3;
  }
  .nav-list {
    text-align: center;
    padding-top: 100px;
  }
  .options {
    position: static;
  }
  .nav-list li,
  .options {
    width: 100%;
    /* height: 42px; */
    background-color: transparent !important;
    text-align: center;
    place-content: center;

    clip-path: polygon(97% 0, 100% 32%, 100% 100%, 3% 100%, 0 68%, 0 0);
    padding: 2px;

    /* position: relative; */
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
  }
  .nav-list a,
  .select {
    color: white;
    width: 100%;
    height: 42px;
    clip-path: polygon(97% 0, 100% 34%, 100% 100%, 3% 100%, 0 66%, 0 0);
    z-index: 999;
    border: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.07);

    backdrop-filter: blur(22.5px);
    font-feature-settings: "clig" off, "liga" off;
    font-size: 16px;
    font-weight: var(--fw-700);
    transition: all 0.7s ease-in-out;
    place-content: center;
  }
  nav ul li a:hover,
  nav ul li a:focus {
    color: var(--color-white) !important;
    font-weight: var(--fw-700);
  }
  .nav-list li:hover {
    background: linear-gradient(270deg, #44cd77 -43.46%, #2871ff 100%);
  }
  .nav-display {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    top: 0;
    justify-content: center;
    /* background-color: var(--black-700); */
    width: 100%;
    gap: 20px;
    right: 0;
    padding: 0 30px;
    top: 120px;
    /* height: 100vh; */
    z-index: 1;
  }
  .language {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  .blurWindow {
    /* Add the blur effect */
    filter: drop-shadow(200px);
    -webkit-filter: blur(100px);

    /* Full height */
    height: 100%;
  }
  .dropDown {
    position: absolute;
    top: 460%;
    left: 16%;
    width: 70%;
    z-index: 100 !important;
  }
  .dropDown ul li a {
    display: flex;
    justify-content: center;
  }
  .active {
    background: linear-gradient(270deg, #44cd77 -43.46%, #2871ff 100%);
    color: var(--color-white) !important;
  }
}
@media screen and (max-width: 380px) {
  .dropDown {
    top: 550%;
  }
}

/* welcome section */

.welcomeBG img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -3;
  object-fit: cover;
}

.welcome-section {
  position: relative;
  height: 700px;
}
.welcomeGlow {
  position: absolute;
  right: 0;
  z-index: -1;
}
.welcome-words {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
}
.title-word {
  border: 1px solid grey;
  padding: 5px 15px;
  border-radius: 20px;
  width: fit-content;
  border: 0;
  border-radius: 9999px;
  background: #10151f;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 0px 0px 1px rgba(255, 255, 255, 0.1), 0px 0px 0px 0px #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.title-word {
  display: inline-block;
  padding-bottom: 5px;
  background: linear-gradient(
    90deg,
    rgba(40, 113, 255, 0) 0%,
    rgba(40, 113, 255, 0.9) 50%,
    rgba(40, 113, 255, 0) 100%
  );
  background-size: 100% 2px;
  background-position: bottom 0 left 0, bottom 5px left 0;
  background-repeat: no-repeat;
}

.title-word h3 {
  font-size: 20px;
  font-weight: 700;
  background: var(--Heading, linear-gradient(135deg, #fff 0%, #71717a 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome-words h1 {
  width: 50%;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px; /* 107.692% */
  background: var(--Heading, linear-gradient(135deg, #fff 0%, #71717a 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome-words p {
  color: #dadada;

  font-size: 20px;
  font-style: normal;
  font-weight: var(--fw-500);
  line-height: 28px; /* 140% */
  text-transform: uppercase;
}
@media screen and (max-width: 786px) {
  .welcome-section {
    height: 400px;
  }
  .welcome-words h1 {
    width: 100%;
    font-size: 42px;
    font-style: normal;
    font-weight: var(--fw-700);
    line-height: 40px; /* 95.238% */
    text-transform: capitalize;
  }
  .welcome-words p {
    text-transform: none;
    font-size: 17px;
    font-size: 16px;
    font-weight: var(--fw-500);
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.16px;
  }
}
@media screen and (max-width: 400px) {
  .welcome-words h1 {
    font-size: 32px;
  }
  .welcome-words p {
    font-size: 15px;
  }
}

/* question section */

.questions-section h3 {
  line-height: 52px; /* 123.81% */
  text-transform: capitalize;
  width: fit-content;
  background: linear-gradient(135deg, #fff 0%, #71717a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.questions-sectionWords {
  color: var(--Neutral-4, #c5c5c5);
  font-size: 18px;
  font-weight: var(--fw-500);
  line-height: 20px; /* 111.111% */
}
.special-word {
  background: var(
    --Font,
    linear-gradient(270deg, #44cd77 23.66%, #2871ff 57.68%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 42px; */
  font-weight: var(--fw-700);
  line-height: 52px;
}
@media screen and (max-width: 400px) {
  .questions-section h3 {
    font-size: 36px;
  }
  .questions-section p {
    font-size: 16px;
  }
}

.mainCardContainer {
  display: flex;
  gap: 75px;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.mainCard {
  width: 40%;
  position: relative;
}

.serviceCard {
  background: linear-gradient(
    270deg,
    #44cd77 -23.46%,
    #2871ff 100%
  ); /* Dark card background */
  /* border: 1px solid #08f; Bright cyan border */
  padding: 1px;
  /* width: 300px; */
  box-shadow: 0 0 10px #08f; /* Neon glow effect */
  position: relative;
  clip-path: polygon(
    13% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 20%
  ); /* Clipping the top left corner */
  z-index: -1;
}
.serviceCardContent {
  background-color: #000; /* Dark card background */
  /* border: 1px solid #08f; Bright cyan border */
  /* padding: 34px; */
  /* width: 280px; */
  /* box-shadow: 0 0 10px #08f; Neon glow effect */
  position: relative;
  clip-path: polygon(
    13% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 20%
  ); /* Clipping the top left corner */
  /* text-overflow: ellipsis;
      overflow: hidden; */
  /* height: 220px; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: visible;
  text-overflow: ellipsis;
  z-index: 3;
  /* background-image: url(_Path_.svg);
    background-repeat: no-repeat;
    background-size: cover; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.mainCard::before,
.mainCard::after {
  content: "";
  position: absolute;
  /* inset: 0; */
}
.mainCard::before {
  background-color: #44cd77;
  content: "";
  display: block;
  width: 10px;
  height: 40px;
  right: -4px;
  top: 20%;
  z-index: 999;
}
.frame1 {
  position: absolute;
  left: -4px;
  top: 30%;
}

.img-holder {
  /* margin: 0 15px; */
  width: 100%;
  /* height: 320px; */
  /* position: relative; */
  box-sizing: border-box;
  padding: 10px;
}

.img {
  -webkit-mask-image: url(mask.png);
  mask-image: url(mask.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: left;
  mask-size: 100% 100%;
  z-index: 1;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  padding: 2px 2px 0px 2px;
  clip-path: polygon(13% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);
}
@media screen and (max-width: 450px) {
  .img {
    padding: 2px 1px 0 1px;
  }
}

.mainCardWords {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mainCardWords h3 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: var(--fw-600);
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.96px;
  text-transform: capitalize;
}
.mainCardWords p {
  color: var(--Neutral-3, #949292);
  font-size: 20px;

  font-weight: var(--fw-500);
  line-height: 130%; /* 26px */
  letter-spacing: -0.6px;
}
.mainCardWords table thead th {
  color: var(--Neutral-3, #949292);
  font-size: 18px;
  font-weight: var(--fw-500);
  line-height: 150%; /* 27px */
  letter-spacing: -0.54px;
  text-align: left;
}
.mainCardWords table tbody td {
  color: #fff;
  font-size: 18px;
  font-weight: var(--fw-500);
  line-height: 150%; /* 27px */
  letter-spacing: -0.54px;
}
@media screen and (max-width: 400px) {
  .mainCardWords table thead th,
  .mainCardWords table tbody td {
    font-size: 14px;
  }
}

.socialComunicationContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.like-share-container {
  display: flex;
  gap: 20px;
}
.like,
.share {
  display: flex;
  border: 1px solid gray;
  padding: 5px 15px;
  border-radius: 20px;
  align-items: center;
}

.btnContainer {
  width: 130px;
  /* height: 42px; */
  background: linear-gradient(to left, #44cd77 -43.46%, #2871ff 100%) right;
  text-align: center;
  place-content: center;
  clip-path: polygon(88% 0, 100% 32%, 100% 100%, 12% 100%, 0 68%, 0 0);
  padding: 1px;
  /* position: relative; */
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.btn {
  background-color: black;
  color: white;
  /* position: relative; */
  width: 130px;
  height: 42px;
  clip-path: polygon(88% 0, 100% 32%, 100% 100%, 12% 100%, 0 68%, 0 0);
  z-index: 999;
  border: 0;
  color: #fff;

  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: var(--fw-500);
  line-height: 100%; /* 16px */
  transition: all 0.7s ease-in-out;
}

.btn:hover {
  background: none;
  color: white;
  /* background: linear-gradient(to left, #44cd77 -43.46%, #2871ff 100%) right; */
}
@media screen and (max-width: 400px) {
  .like-share-container {
    gap: 10px;
  }
  .like,
  .share {
    display: flex;
    border: 1px solid gray;
    padding: 5px 7px;
    border-radius: 20px;
    align-items: center;
  }
  .btn {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
  .btnContainer {
    width: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .mainCardContainer {
    flex-direction: column;
  }
  .mainCard {
    width: 100%;
  }
  .mainCardWords {
    width: 100%;
  }
  .img-holder {
    width: 100%;
    height: 100%;
    /* margin: 15px; */
  }
}

.CardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
}
.Card {
}
.cardContainer {
  position: relative;
}
.cardContainer::before {
  content: "";
  position: absolute;
  background-color: #44cd77;
  display: block;
  width: 10px;
  height: 40px;
  right: -3.5px;
  top: 10%;
  z-index: 999;
}
.frame2 {
  position: absolute;
  top: 17%;
  left: -4px;
  z-index: -1;
}
.CardsImge-holder {
  height: 230px;
  padding: 10px;
}

.cardsWordsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}
.cardsWordsContainer h4 {
  color: #fff;
  font-size: 20px;
  font-weight: var(--fw-600);
  line-height: 120%; /* 24px */
  letter-spacing: -0.6px;
}
.cardsWordsContainer p {
  color: var(--Neutral-3, #949292);
  font-size: 18px;
  font-weight: var(--fw-500);
  line-height: 150%; /* 27px */
  letter-spacing: -0.54px;
}

@media screen and (max-width: 1200px) {
  .CardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .CardsContainer {
    grid-template-columns: 1fr;
  }
}

.pagination {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  gap: 20px;
  position: relative;
  z-index: 99;
}

.cardPageContainer {
  background: linear-gradient(270deg, #44cd77 -23.46%, #2871ff 100%);
  padding: 1px;

  box-shadow: 0 0 10px #08f;
  position: relative;
  clip-path: polygon(79% 0, 100% 21%, 100% 100%, 21% 100%, 0 79%, 0 0);
  z-index: -1;
}
.cardPage {
  background-color: #000;
  position: relative;
  clip-path: polygon(79% 0, 100% 21%, 100% 100%, 21% 100%, 0 79%, 0 0);
  color: white;
  float: left;
  /* padding: 8px 16px; */
  width: 37px;
  height: 37px;
  align-content: center;
  text-decoration: none;
  z-index: 99999999;
}
.cardPage:hover {
  background-color: transparent;
  color: white;
  /* background: linear-gradient(to left, #44cd77 -43.46%, #2871ff 100%) right; */
}

.back-next-btn-container {
  background-color: gray;
  padding: 1px;

  box-shadow: 0 0 10px #08f;
  position: relative;
  clip-path: polygon(79% 0, 100% 21%, 100% 100%, 21% 100%, 0 79%, 0 0);
  z-index: -1;
}
.back-next-btns {
  background-color: #000;
  position: relative;
  clip-path: polygon(79% 0, 100% 21%, 100% 100%, 21% 100%, 0 79%, 0 0);
  color: white;
  float: left;
  width: 37px;
  height: 37px;
  align-content: center;
  text-decoration: none;
  z-index: 99999999;
}

.back-next-btn-container:hover {
  background-color: white;
}

#cardPage1 {
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .pagination {
    gap: 10px;
  }
  .cardPage {
    width: 30px;
    /* height: 25px; */
  }
  .back-next-btns {
    width: 30px;
  }
}

/* Get In Touch Section*/

.getInTouch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 5px;
}

.FAQRightBotomGlow {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 50%;
}
.getInTouch h3 {
  font-size: 42px;
  font-style: normal;
  font-weight: var(--fw-700);
  line-height: 52px; /* 123.81% */
  width: fit-content;
  background: linear-gradient(135deg, #fff 0%, #71717a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.getInTouch p {
  width: 70%;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: var(--fw-600);
  line-height: 28px; /* 127.273% */
  background: var(--Heading, linear-gradient(135deg, #fff 0%, #71717a 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.getInTouchBg {
  position: absolute;
  width: 70%;
  /* left: 0; */
  /* opacity: 0.3; */
  z-index: -3;
}
.TouchBtn {
  width: 223px;
  height: 42px;
  clip-path: polygon(92% 0, 100% 32%, 100% 100%, 10% 100%, 0 70%, 0 0);
  background: linear-gradient(270deg, #44cd77 -43.46%, #2871ff 100%);
  border: 0;
  color: var(--color-white);
}
.getInTouchGlowL {
  position: absolute;
  width: 100%;
  left: -52%;
  top: 509%;
  height: 100%;
}
.getInTouchGlowR {
  position: absolute;
  width: 800px;
  height: 500px;
  right: -52%;
  top: -100%;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgb(15, 15, 15, 1) 64%
  );
  z-index: -3;
  overflow: hidden;
}
.showInSmallSizes {
  display: none;
}
@media screen and (max-width: 600px) {
  .getInTouch h3 {
    font-size: 36px;
  }
  .getInTouch p {
    width: 100%;
    font-size: 18px;
  }
  .getInTouchBg {
    width: 100%;
  }
  .special-word {
    font-size: 36px;
  }
  .hideInSmallSizes {
    display: none;
  }
  .showInSmallSizes {
    display: inline;
  }
  .getInTouchBg {
    width: 100%;
  }
}

/* footer */
footer {
  position: relative;
}
.footerGlow {
  position: absolute;
  width: 700px;
  max-width: 100%;
  height: 700px;
  left: 0;
  z-index: -1;
  bottom: 0;
  /* overflow-clip-margin: content-box;
    overflow: clip; */
  background: rgb(54, 85, 221);
  background: linear-gradient(
    225deg,
    rgba(54, 85, 221, 0) 68%,
    rgba(40, 113, 255, 0.7) 100%
  );
}
.footer-content {
  padding: 0 100px;
}
@media screen and (max-width: 992px) {
  .footer-content {
    padding: 0 20px;
  }
}
.footer-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--color-gray-100);
}
.logo {
  width: 30%;
}
.footer-left ul {
  width: 35%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 10px;
}
.footer-left ul li a {
  text-decoration: none;
  /* color: var(--color-gray-100); */
  justify-content: space-between;
  color: #f4f4f4;
  font-size: 16px;
}
hr {
  margin: 15px 0;
  opacity: 0.2;
}
.footer-right {
  padding: 15px 0;
  text-align: center;
}
.footer-content p {
  color: var(--color-gray-100);
}
.social-links {
  width: 25%;
  display: flex;
  justify-content: right;
  gap: 10px;
}

.social-links a {
  text-decoration: none;
  background-color: rgb(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.footerActive {
  color: var(--color-blue-700) !important;
  font-weight: var(--fw-700);
}
@media screen and (max-width: 992px) {
  .footer-left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .social-links {
    width: 100%;
    justify-content: center;
  }
  .footer-left ul {
    width: 100%;
    justify-content: space-around;
  }
}
@media screen and (max-width: 600px) {
  .footer-left ul {
    justify-content: space-between;
    gap: 5px;
  }
}
