:root {
  --black-900: black;
  --black-700: #0f0f0f;
  --color-white: #ffffff;

  --color-gray-500: #71717a;
  --color-gray-100: #f4f4f4;
  --color-gray-200: #dadada;
  --Neutral-5: #dadada;
  --Neutral-4: #c5c5c5;

  --color-blue-700: #2871ff;

  --fz-1: 50px;
  --fz-2: 42px;
  --fz-3: 32px;
  --fz-4: 24px;
  --fz-5: 18px;
  --fz-6: 16px;
  --fz-7: 14px;
  --fz-8: 12px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --border-color: linear-gradient(-45deg, #2871ff, #62e875);

  --border-width: 2px;
  --curve-size: 16px;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-inline: auto;
  background-color: var(--black-700);
  /* margin-top: 30px; */
  font-family: "Rajdhani", sans-serif;
  color: var(--color-white);
  position: relative;
  z-index: 99999;
}
@media screen and (max-width: 600px) {
}

section {
  margin: 90px 0;
  padding: 0 200px;
}
section:first-child {
  margin: 120px 0 30px 0;
}
header {
  /* position: fixed; */
  position: fixed;
  padding: 30px 200px;
  /* width: 100%; */
  width: 100%;
  /* -webkit-transform: translateZ(0); */
  right: 0;
  z-index: 99999999999999999;
  /* filter: blur(20px); */
  /* -webkit-filter: blur(20px); */

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
@media screen and (max-width: 1440px) {
  header{
    padding: 30px 100px;
  }
}
@media screen and (max-width: 1440px) {
  section {
    padding: 0 100px;
  }
}

h3 {
  font-size: 42px;
}
article {
  padding-top: 30px;
}

@media screen and (max-width: 992px) {
  section {
    padding: 0 20px;
  }
  header {
    padding: 20px 0;
  }
}

.glowContainer img {
  width: 100%;
}
.lightImg {
  width: 900px;
  height: 900px;
  position: absolute;
  top: -11%;
  left: 0;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 786px) {
  .lightImg {
    top: -6.5%;
  }
}

/* navigation */

.logoContainer img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1440px; */
  right: 0;
  gap: 135px;
  margin: 0 auto;
  /* padding: 0 30px; */
  z-index: 999999999999999;
  position: relative;
}
@media screen and (max-width: 992px) {
  nav {
    padding: 0 20px;
  }
}
.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
/* .nav-list li{
  background-color: #ffffff33;
      backdrop-filter: blur(20px);
} */
nav ul li a {
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 18px;
}
@media screen and (max-width: 1100px) {
  .nav-list a {
    font-size: 16px;
  }
}

nav ul li a:hover,
nav ul li a:focus {
  color: var(--color-blue-700) !important;
  /* border-bottom: 2px solid var(--color-blue-700); */
  font-weight: var(--fw-700);
}
.active {
  color: var(--color-blue-700) !important;
  font-weight: var(--fw-700);
}
.nav-list a:where(:hover, :focus)::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: 15px;
  left: 0;
  border-bottom: 2px solid var(--color-blue-700);
  transition: all 1s;
}

.humbrger {
  display: none;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.bar {
  width: 40px;
  height: 3px;
  background-color: var(--color-white);
}
.bar2 {
  width: 30px;
  height: 3px;
  background-color: var(--color-white);
  position: absolute;
  top: 12px;
  right: 0;
}
.bar2Arabic{
  right: auto;
  left: 0;
}
@media screen and (max-width: 600px) {
  .humbrger{
    gap: 15px;
  }
  .bar{
    width: 30px;
    height: 2px;
  }
  .bar2{
    top: 9px;
    width: 20px;
    height: 2px;
  }
}
.options {
  /* position: relative; */
  color: var(--color-gray-100);
  transition: all 0.5s ease-in-out;
  z-index: 150;
}
.select {
  width: 78.63px;
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 999;
}
.showEnglishLanguageIcon{
  display: flex;
  align-items: center;
  gap: 5px;
}
.nonDisplay{
  display: none;
}
.showArabicLanguageIcon{
  display: none;
  align-items: center;
  gap: 5px;
  justify-content: center;
  z-index: -1;
}

.englishIcone{
  display: none;
}
.dropDown ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
}
.dropDown ul li {
  width: 100%;
  list-style-type: none;
}
.dropDown {
  display: none;
  position: absolute;
  z-index: 1;
  top: 55%;
  right: 0;
  background-color: black;
  border-radius: 10px;
  width: 90px;
  margin-top: 10px;
  transition: all 1s ease-in-out;
  justify-content: center;
}
.dropDownArabic{
  display: none;
  right: auto;
  left: 0;
}

.mini-nav-dropDown {
  display: none;
  margin-left: 100px;
}
.display {
  display: flex;
}
.mini-nav-dropDown ul {
  margin: 0 !important;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mini-nav-dropDown ul li {
  margin: 10px 0;
}
.mini-nav-dropDown ul li:last-child {
  margin-bottom: 0;
}
.language {
  display: flex;
  align-items: center;
  gap: 5px;
}
.closeIcon {
  display: none;
  transform: rotate(135deg);
  font-size: 58px;
}
@media screen and (min-width: 900px) {
  .humbrger {
    display: none !important;
  }
  .closeIcon {
    display: none !important;
  }
}
@media screen and (max-width: 900px) {
  .nav-list {
    display: none;
  }
  .humbrger {
    display: flex;
    z-index: 3;
  }
  .nav-list {
    text-align: center;
    padding-top: 100px;
  }
  .options {
    position: static;
  }
  .nav-list li,
  .options {
    width: 100%;
    /* height: 42px; */
    background-color: transparent !important;
    text-align: center;
    place-content: center;

    clip-path: polygon(97% 0, 100% 32%, 100% 100%, 3% 100%, 0 68%, 0 0);
    padding: 2px;

    /* position: relative; */
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
  }
  .nav-list a,
  .select {
    color: white;
    width: 100%;
    height: 42px;
    clip-path: polygon(97% 0, 100% 34%, 100% 100%, 3% 100%, 0 66%, 0 0);
    z-index: 999;
    border: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.07);

    backdrop-filter: blur(22.5px);
    font-feature-settings: "clig" off, "liga" off;
    font-size: 16px;
    font-weight: var(--fw-700);
    transition: all 0.7s ease-in-out;
    place-content: center;
  }
  nav ul li a:hover,
  nav ul li a:focus {
    color: var(--color-white) !important;
    font-weight: var(--fw-700);
  }
  .nav-list li:hover {
    background: linear-gradient(270deg, #44cd77 -43.46%, #2871ff 100%);
  }
  .nav-display {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    top: 0;
    justify-content: center;
    /* background-color: var(--black-700); */
    width: 100%;
    gap: 20px;
    right: 0;
    padding: 0 30px;
    top: 120px;
    /* height: 100vh; */
    z-index: 1;
  }
  .language {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  .blurWindow {
    /* Add the blur effect */
    filter: drop-shadow(200px);
    -webkit-filter: blur(100px);

    /* Full height */
    height: 100%;
  }
  .dropDown {
    position: absolute;
    top: 500px;
    left: 16%;
    width: 70%;
    z-index: 100 !important;
  }
  .dropDown ul li a {
    display: flex;
    justify-content: center;
  }
  .active {
    background: linear-gradient(270deg, #44cd77 -43.46%, #2871ff 100%);
    color: var(--color-white) !important;
  }
}

/*Welcome section*/

.dotsContainer img {
  width: 100%;
}

.dots {
  z-index: -2;
  position: absolute;
  top: -100px;
  right: 0;
}

.welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-gray-500);
  justify-content: space-between;
}

.welcome-words {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-word {
  border: 1px solid grey;
  padding: 5px 15px;
  border-radius: 20px;
  width: fit-content;
  border: 0;
  border-radius: 9999px;
  background: #10151f;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 0px 0px 1px rgba(255, 255, 255, 0.1), 0px 0px 0px 0px #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.title-word {
  display: inline-block;
  padding-bottom: 5px;
  background: linear-gradient(
    90deg,
    rgba(40, 113, 255, 0) 0%,
    rgba(40, 113, 255, 0.9) 50%,
    rgba(40, 113, 255, 0) 100%
  );
  background-size: 100% 2px;
  background-position: bottom 0 left 0, bottom 5px left 0;
  background-repeat: no-repeat;
}

.title-word h3 {
  font-size: 20px;
  font-weight: 700;
  background: var(--Heading, linear-gradient(135deg, #fff 0%, #71717a 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .welcome-section h3 {
  font-size: 20px;
  font-weight: 700;
  border: 1px solid grey;
  padding: 5px 15px;
  border-radius: 20px;
  border-bottom: 1px solid #18c8ff;
  width: fit-content;
  background: linear-gradient(80.7deg, white 10.1%, #71717a 63.2%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
} */
.welcome-section h1 {
  font-size: 75px;
  line-height: 70px;
  background: linear-gradient(80.7deg, white 12.1%, #71717a 63.2%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.welcome-words p {
  font-size: 18px;
  font-weight: var(--fw-500);
  color: var(--color-white);
  width: 70%;
}
.shape1Container img {
  width: 100%;
}
.heroImgContainer {
  width: 50%;
}
.heroImgContainer img {
  width: 100%;
}
.heroImg {
  max-width: 100%;
}
@media (max-width: 768px) {
  .welcome-section {
    flex-direction: column;
    gap: 40px;
  }
  .welcome-words {
    width: 100%;
  }
  .welcome-section h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .welcome-section p {
    width: 100%;
  }
  .welcome-section h3 {
    font-size: 15px;
  }
  .shape1Container img {
    width: 70%;
  }
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btnContainer1 {
  width: 130px;
  /* height: 42px; */
  background: linear-gradient(270deg, #44cd77 -43.46%, #2871ff 100%);
  text-align: center;
  place-content: center;
  clip-path: polygon(88% 0, 100% 32%, 100% 100%, 12% 100%, 0 68%, 0 0);
  padding: 1px;
  /* position: relative; */
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.btn {
  background-color: black;
  color: white;
  /* position: relative; */
  width: 130px;
  height: 42px;
  clip-path: polygon(88% 0, 100% 32%, 100% 100%, 12% 100%, 0 68%, 0 0);
  z-index: 999;
  border: 0;
  color: #fff;

  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: var(--fw-500);
  line-height: 100%; /* 16px */
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: none;
  color: white;
  /* background: linear-gradient(to left, #44cd77 -43.46%, #2871ff 100%) right; */
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.shape-1 {
  margin-top: 20px;
}
.shape-1-arabic{
  transform: rotateY(180deg);
}
.learnMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--color-white);
}

/* Why Translate? */

.whyTranslate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--color-white);
}
.whyTranslate h3 {
  font-size: 42px;
  background: linear-gradient(80.7deg, white 10.1%, #71717a 63.2%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.specialWord {
  background: var(
    --Font,
    linear-gradient(270deg, #44cd77 23.66%, #2871ff 57.68%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
  font-weight: var(--fw-700);
  line-height: 52px;
}
.whyTranslate p {
  color: var(--Neutral-4, #c5c5c5);
  text-align: center;
  font-size: 18px;
  font-weight: var(--fw-500);
  line-height: 20px; /* 111.111% */
  width: 50%;
}

.cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color-white);
  width: 100%;
  margin-top: 50px;
  align-content: center;
}

@media (max-width: 1230px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 833px) {
  .cards {
    grid-template-columns: 1fr;
    /* align-content: center;
    align-items: center; */
    justify-content: center;
  }
}
.card {
  color: var(--color-white);
  cursor: pointer;
  /* use position: relative; so that BG is only for .btn */

  /* width: 33%; */
  height: 266px;
  /* padding: 0.5em 1.5em; */
  font-size: 12px;
  font-weight: var(--fw-700);
  border: 0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  padding: 20px;
  position: relative;

  /* -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0); */
  /* clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);

  border: double 2px transparent;
  border-radius: 30px;
  background-image: linear-gradient(black , black), radial-gradient(circle at top left, #2871ff, #62e875);
  background-origin: border-box;
  background-clip: padding-box, border-box; */
  /* background-image: url(Card.svg); */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.cardFrameContainer img {
  width: 100%;
}
.cardFrame {
  z-index: -3;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 266px;
  max-width: 376px;
}
.card img {
  /* margin-bottom: 10px; */
}
.card h3 {
  font-size: 24px;
  /* font-weight: var(--fw-700); */
  background: linear-gradient(80.7deg, white 10.1%, #71717a 63.2%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* width: 50%; */
  line-height: 26px;
}
.card p {
  overflow: hidden;
  color: var(--Primary-3, #c8deff);
  text-overflow: ellipsis;
  font-weight: var(--fw-500);
  font-size: 16px;
  line-height: 20px; /* 25.2px */
  max-width: 320px;
  /* white-space: nowrap;  */
  /* overflow: hidden;
  text-overflow: ellipsis;  */
  --max-lines: 3;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}
.cardGlow {
  /* z-index: -1; */
  position: absolute;
  top: -35%;
  opacity: 0.8;
  right: 0;
  z-index: -2;
}
.cardImgContainer img {
  max-width: 100%;
}
@media (max-width: 600px) {
  .whyTranslate h3 {
    font-size: 22px !important;
  }
  .card h3 {
    font-size: 22px !important;
  }
  .cardImgContainer img {
    margin: 0;
  }
  .whyAraContainer h3 {
    font-size: 28px !important;
  }
  .specialWord {
    font-size: 28px !important;
  }
}
@media (max-width: 400px) {
  .cardImgContainer img {
    width: 30px;
  }
}

.card2 {
  width: 20em;
  min-height: 18em;
  background: linear-gradient(to right, #2871ff, #62e875);
  padding: 2em;
  position: relative;
  border-radius: 2em;
  margin: 1em 2em;
  border: double 2px transparent;
  border-radius: 30px;
  background-image: linear-gradient(black, black),
    radial-gradient(circle at top left, #2871ff, #62e875);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
}
.card2::before,
.card2::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #2871ff, #62e875);
  border: double 2px transparent;
  border-radius: 30px;
  background-image: linear-gradient(black, black),
    radial-gradient(circle at top left, #2871ff, #62e875);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  z-index: -1;
}

.card2::before {
  top: -2.3em;
  width: 75%;
  height: 5em;
  left: 0;
  border-top-left-radius: inherit;
  border-image: linear-gradient(#2871ff 0%, #62e875 100%) 30;
}
.card2::after {
  top: -2em;
  right: 0.5em;
  width: 40%;
  height: 7em;
  transform: rotate(-42deg);
  /* border-radius: inherit; */
  border-radius: 2em;
}

@media screen and (max-width: 786px) {
  .whyTranslate p {
    width: 100%;
    font-size: 16px;
  }
  .whyTranslate h3 {
    font-size: 38px;
  }
  .cards {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}

/* whyAralingual section */

.whyAralingual {
  /* background-image: url(Aralingual\ -\ Update\ Assets\ 2024/Website/Home/Images/BG-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  /* padding: 100px 0; */
  position: relative;
  background: linear-gradient(
    358deg,
    #101010 13.36%,
    rgba(16, 16, 16, 0) 60.68%,
    #101010 85.08%
  );
  margin-bottom: 50px;
}
.BGImgContainer {
  background: linear-gradient(
    358deg,
    #101010 13.36%,
    rgba(16, 16, 16, 0) 60.68%,
    #101010 85.08%
  );
}
.BGImgContainer img {
  width: fit-content;
}
.rightGlow{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.whyAraBG {
  z-index: -2;
  position: absolute;
  /* right: 0; */
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.whyAraBGArabic{
  right: 0;
}

.whyAraContainer {
  display: flex;
  gap: 20px;
  color: var(--color-white);
}

.whyAraContainer h3 {
  font-size: 38px;
}
.whyAraWords h3{
  margin-top: 90px;
}
.whyAraCardsContainer {
  display: flex;
  gap: 30px;
  color: var(--color-white);
}
.whyAraCards1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--color-white);
  padding-top: 100px;
}
.whyAraCards2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--color-white);
}

.whyAracard {
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 20px;
  /* height: 277px; */
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 340px;
  /* -webkit-text-fill-color: transparent; */
  /* -webkit-background-clip: text; */
}
@media (max-width: 1135px) {
  .whyAraContainer {
    flex-direction: column;
  }
  .whyAraBG {
    width: 100%;
  }
  .whyAracard {
    width: 100%;
  }
}
@media (max-width: 786px) {
  .whyAraCardsContainer {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .whyAracard {
    width: 100%;
  }
  .whyAracard p {
    font-size: 14px;
  }
  specialCharA,
  .specialCharC,
  .specialCharB,
  .specialCharD {
    font-size: 20px !important;
  }
  .whyAracard h3 {
    font-size: 20px !important;
  }
  .whyAraContainer h3 {
    font-size: 28px !important;
  }
  .specialWord {
    font-size: 28px !important;
    font-weight: var(--fw-700);
  }
  .whyAraBG {
    /* Add the blur effect */
    filter: drop-shadow(200px);
    -webkit-filter: blur(100px);
  }
  .whyAralingual {
    background: none;
  }
  .whyAraCards1 {
    padding-top: 20px;
  }
}
.whyAracard:hover {
  background: linear-gradient(270deg, #44cd77 -43.46%, #2871ff 100%);
}
.whyAracard h3 {
  font-size: 24px;
  padding-left: 20px;
}
#Specialized {
  border-left: 2px solid #62e875;
}
#Timely {
  border-left: 2px solid #18c8ff;
}
#Unparalleled {
  border-left: 2px solid #eb4f4f;
}
#Cost-effective {
  border-left: 2px solid #efda6c;
}
/* .whyAracard p {
  font-size: 16px;
} */
.specialCharA,
.specialCharC,
.specialCharB,
.specialCharD {
  font-size: 30px;
  position: relative;
  padding: 10px;
}
.specialCharA::before,
.specialCharC::before,
.specialCharB::before,
.specialCharD::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 2.5px;
  background-color: #62e875;
  padding: 1px;
  position: absolute;
  top: 15px;
  left: 0px;
}
.specialCharB::before {
  background-color: #18c8ff;
}
.specialCharC::before {
  background-color: #eb4f4f;
}
.specialCharD::before {
  background-color: #efda6c;
}

/* Services Section */

.servicesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-white);
  gap: 40px;
}
.servicesWords {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serviceCardImgContainer {
  width: 70%;
}

.servicesWords h3 {
  font-size: var(--fz-2);
  background: linear-gradient(135deg, #fff 0%, #71717a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  text-align: center;
}
.servicesWords p {
  color: var(--Neutral-4);
  text-align: center;
  font-size: var(--fz-5);
  font-style: normal;
  font-weight: var(--fw-500);
  line-height: 20px; /* 111.111% */
}

.servicesCardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  row-gap: 80px;
  position: relative;
  /* background-color: transparent; */
}
@media (max-width: 1200px) {
  .servicesCardsContainer {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 60px;
  }
}

@media (max-width: 768px) {
  .servicesCardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .bigGlow {
    left: -50%;
    opacity: 1;
  }
  .path {
    width: 100%;
  }
  .servicesContainer {
    row-gap: 40px;
  }
}
@media (max-width: 600px) {
  .servicesWords h3 {
    font-size: 30px;
  }
  .servicesWords p {
    font-size: var(--fz-6);
  }
}

.serviceCard:where(:hover, :focus) {
  color: #fff;
}
.bigGlow {
  position: absolute;
  width: 100%;
  right: 0;
  height: 100%;
  /* bottom: 0; */
  opacity: 0.7;
  /* z-index: -3; */
}
.serviceCard {
  background: linear-gradient(270deg, #44cd77 -23.46%, #2871ff 100%);
  padding: 2px;
  /* width: 300px; */
  box-shadow: 0 0 10px #08f;
  position: relative;
  clip-path: polygon(13% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20% );
  z-index: -1;
}

.serviceCardArabic {
  background: linear-gradient(270deg, #2871ff -23.46%, #44cd77 100%);
  clip-path: polygon(0 0, 88% 0, 100% 12%, 100% 100%, 0 100%, 0% 50%);
}

.serviceCardContent {
  background-color: #000; /* Dark card background */
  padding: 34px;
  position: relative;
  clip-path: polygon(13% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);
  height: 220px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: visible;
  text-overflow: ellipsis;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.serviceCardContentArabic {
  clip-path: polygon(0 0, 88% 0, 100% 12%, 100% 100%, 0 100%, 0% 50%);
}

.serviceCard h3 {
  background: var(--Heading, linear-gradient(135deg, #fff 0%, #71717a 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  font-size: 28px;
  font-style: normal;
  font-weight: var(--fw-700);
  line-height: 28px; /* 116.667% */
  text-transform: capitalize;
}
.serviceCardContent p {
  overflow: hidden;
  color: var(--Neutral-6, #f4f4f4);
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  font-family: Rajdhani;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  position: relative;
  z-index: 999;
  --max-lines: 3;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 450px) {
  .serviceCard h3 {
    font-size: 22px;
  }
  .serviceCardContent p {
    font-size: 13px;
  }
  .serviceCardImgContainer img {
    width: 30px;
    height: 25px;
    margin-bottom: 0;
  }
}

.serviceCardContainer::before,
.serviceCardContainer::after {
  content: "";
  position: absolute;
  /* inset: 0; */
}
.serviceCardContainer::before {
  background-color: #44cd77;
  content: "";
  display: block;
  width: 10px;
  height: 32px;
  right: -3px;
  top: 50px;
  z-index: 999;
}
.serviceCardContainerArabic::before {
  background-color: #44cd77;
  content: "";
  display: block;
  width: 10px;
  height: 40px;
  right: auto;
  left: -4px;
  top: 20%;
  z-index: 999;
}

.cardBG img {
  width: 100%;
}
.cardImg {
  /* width: 100%; */
  /* height: 100%; */
  /* position: absolute;
  top: 0;
  left: 0; */
  /* position: absolute;
  inset: 0;
  z-index: -3; */
}

.serviceCardContainer {
  position: relative;
}
.serviceCardContainer1 {
  position: relative;
}
.path {
  position: absolute;
  top: 10%;
  right: 1%;
  /* left: 2%; */
  /* width: 100%; */
  /* height: 100%; */
  width: 94%;
  height: 84%;
  object-fit: cover;
}
.frame1 {
  position: absolute;
  left: -3px;
  top: 70px;
}
.frame1Arabic {
  position: absolute;
  left: auto;
  right: -4px;
  top: 30%;
}


.serviceCard2 {
  position: relative;
  padding: 2px;
  max-width: 384px;
  min-height: 208px;
  background: var(--border-color);
  /* padding: 30px; */
  z-index: 3;
}
.serviceCard2::before,
.serviceCard2::after {
  content: "";
  position: absolute;
  background: var(--border-color);
  z-index: -3;
}
.serviceCard2::before {
  top: -18.5%;
  height: 20%;
  width: 88.8%;
  right: 0;
  border-top-left-radius: inherit;
}

.serviceCard2::after {
  top: -18%;
  left: 10.9%;
  width: 15%;
  height: 67%;
  transform: rotate(-42deg);
}

.serviceCard22 {
  position: relative;
  padding: 20px;
  max-width: 384px;
  min-height: 208px;
  background: black;
  padding: 30px;
  z-index: 4;
}
.serviceCard22::before,
.serviceCard22::after {
  content: "";
  position: absolute;
  background: black;
  z-index: -1;
}
.serviceCard22::before {
  top: -18.5%;
  height: 20%;
  width: 88.8%;
  right: 0;
  border-top-left-radius: inherit;
}

.serviceCard22::after {
  top: -18%;
  left: 10.9%;
  width: 15%;
  height: 67%;
  transform: rotate(-42deg);
}

/* Video Section */

.videoContainer {
  display: flex;
  justify-content: center;
}

.video {
  position: relative;
  background-image: url("Aralingual - Update Assets 2024/Website/Home/Images/Frame-Video.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  left: 2%;
}
.iframe {
  position: absolute;
  top: 16%;
  left: 4.4%;
  bottom: 0;
  right: 0;
  width: 88%;
  height: 75%;
  border: none;
}
.iframeArabic{
  left: 0;
  right: 8%;
}
/* Process Section */

.process {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}
.processCards {
  display: grid;
  grid-template-areas:
    "a ."
    ". b"
    "c ."
    ". d"
    "e ."
    ". f"
    "g ."
    ". h";
  gap: 1px;
  /* background: red; */
  position: relative;
  align-content: center;
  gap: 36px;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
  /* background-image: url("Home/Group.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background: rgb(transparent, transparent, transparent, 0.3); */
}
.processCard1, .processCard3 , .processCard5 , .processCard7{
  /* margin-right: 20px; */
  width: 100%;
}
.processCard2, .processCard4 , .processCard6 , .processCard8{
  /* margin-left: 20px; */
  width: 100%;
  float: left;
}
.processBG {
  position: absolute;
  left: -10%;
  opacity: 0.5;
  width: 100%;
  z-index: -1;
}
.processBGArabic{
  left: 0;
  right: -10%;
}
.processGlow {
  position: absolute;
  top: -57%;
  left: -68%;
  width: 100%;
  z-index: -1;
}
.processGlowArabic{
  left: 0;
  right: -68%;
  top: -90%;
}
.arrow-down1,
.arrow-down2,
.arrow-down3,
.arrow-down4,
.arrow-down5,
.arrow-down6,
.arrow-down7,
.arrow-down8 {
  position: absolute;
  top: 0%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  width: 15px;
  z-index: 99;
  width: 25px;
  height: 25px;
}
.arrow-down2 {
  top: 13%;
}
.arrow-down3 {
  top: 26%;
}
.arrow-down4 {
  top: 38.5%;
}
.arrow-down5 {
  top: 51.5%;
}
.arrow-down6 {
  top: 64.5%;
}
.arrow-down7 {
  top: 77%;
}
.arrow-down8 {
  top: 90%;
}
.processCardsLine {
  width: 2px;
  height: 1053px;
  background: linear-gradient(to bottom, #2871ff 50.95%, #44cd77 70.91%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1) inset;
  position: absolute;
  left: 50%;
}

@media screen and (max-width: 786px) {
  .processCards {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h";
    grid-template-columns: 1fr;
  }
  .processCardsLine {
    display: none;
  }
  .processCard1,
  .processCard2,
  .processCard3,
  .processCard4,
  .processCard5,
  .processCard6,
  .processCard7,
  .processCard8 {
    max-width: 100% !important;
    direction: ltr !important;
  }
  .processWords p {
    font-size: var(--fz-7);
  }
}
.rtl{
  direction: rtl !important;
}
.processWords h3 {
  background: linear-gradient(135deg, #fff 0%, #71717a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.processWords p {
  color: var(--Neutral-4, #c5c5c5);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}
.processCard1,
.processCard2,
.processCard3,
.processCard4,
.processCard5,
.processCard6,
.processCard7,
.processCard8 {
  display: flex;
  gap: 20px;
  align-items: center;
  direction: rtl;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: linear-gradient(
    137deg,
    rgba(27, 28, 54, 0.16) 23.98%,
    rgba(112, 113, 122, 0.16) 65.73%
  );
  backdrop-filter: blur(5.849999904632568px);
  padding: 16px;
  /* max-width: 481px; */
  height: 116px;
}
.processCard1 {
  grid-area: a;
}
.processCard2 {
  grid-area: b;
  direction: ltr;
}
.processCard3 {
  grid-area: c;
}
.processCard4 {
  grid-area: d;
  direction: ltr;
}

.processCard5 {
  grid-area: e;
}

.processCard6 {
  grid-area: f;
  direction: ltr;
}

.processCard7 {
  grid-area: g;
}

.processCard8 {
  grid-area: h;
  direction: ltr;
}
.processChar {
  display: flex;
  width: 52px;
  height: 52px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0px 0px 0px 1px rgba(40, 113, 255, 0.2);
}
.processCards h2 {
  background: var(
    --style,
    linear-gradient(270deg, #44cd77 -43.46%, #2871ff 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--fz-3);
  font-weight: var(--fw-700);
}
.processCards h4 {
  background: linear-gradient(135deg, #fff 0%, #71717a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--fz-4);
  font-weight: var(--fw-700);
  width: fit-content;
}
.processCards p {
  color: var(--Neutral-5);
  font-size: var(--fz-6);
  font-weight: var(--fw-500);
  line-height: 20px; /* 125% */
  letter-spacing: -0.5px;
}
@media screen and (max-width: 450px) {
  .processCards h4 {
    font-size: var(--fz-5);
  }
  .processCards h2 {
    font-size: var(--fz-4);
  }
  .processCards p {
    font-size: var(--fz-8);
  }
  .arrow-down1,
  .arrow-down2,
  .arrow-down3,
  .arrow-down4,
  .arrow-down5,
  .arrow-down6,
  .arrow-down7,
  .arrow-down8 {
    width: 18px;
    height: 18px;
  }
}
/* @media (max-width:1250px){
    .processCard1, .processCard3, .processCard5, .processCard7{
      margin-right: 35px;
    }
  } */

.homeRightGlow {
  position: absolute;
  width: 100%;
  right: 0;
  z-index: -1;
  bottom: 0;
}

/* Get In Touch Section*/

.getInTouch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
}
.getInTouch h3 {
  font-size: 42px;
  font-style: normal;
  font-weight: var(--fw-700);
  line-height: 46px; /* 123.81% */
  width: fit-content;
  background: linear-gradient(135deg, #fff 0%, #71717a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.getInTouch p {
  width: 70%;
  text-align: center;
  margin-bottom: 10px;
}
.getInTouchBg {
  position: absolute;
  width: 70%;
  /* left: 0; */
  /* opacity: 0.3; */
  z-index: -3;
}
.TouchBtnContainer {
  width: 223px;
  background: linear-gradient(270deg, #44cd77 -43.46%, #2871ff 100%);
  text-align: center;
  place-content: center;
  clip-path: polygon(92% 0, 100% 30%, 100% 100%, 8% 100%, 0 70%, 0 0);
  padding: 1px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  text-decoration: none;
}
.TouchBtn {
  width: 223px;
  height: 42px;
  clip-path: polygon(92% 0, 100% 30%, 100% 100%, 8% 100%, 0 70%, 0 0);
  background-color: #000;
  z-index: 999;
  border: 0;
  color: #fff;
  font-size: 16px;
  color: #fff;
  font-weight: var(--fw-500);
  line-height: 100%; /* 16px */
}
.TouchBtn:hover {
  background: none;
  color: white;
}
.getInTouchGlowL {
  position: absolute;
  width: 100%;
  left: -52%;
  top: 509%;
  height: 100%;
}
.getInTouchGlowR {
  position: absolute;
  width: 1200px;
  height: 800px;
  right: 0%;
  /* top: 90%; */
  bottom: 0;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 0) 0%,
    rgba(40, 113, 255, 0.4) 100%
  );
  z-index: -3;
  overflow: hidden;
  box-shadow: -18px 17px 91px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -18px 17px 91px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -18px 17px 91px 1px rgba(0, 0, 0, 0.75);
}
.special-word {
  background: var(
    --Font,
    linear-gradient(270deg, #44cd77 23.66%, #2871ff 57.68%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
  font-weight: var(--fw-700);
  line-height: 52px;
}
.showInSmallSizes {
  display: none;
}
@media screen and (max-width: 600px) {
  .getInTouch h3 {
    font-size: 36px;
  }
  .getInTouch p {
    width: 100%;
    font-size: 18px;
  }
  .getInTouchBg {
    width: 100%;
  }
  .special-word {
    font-size: 36px;
  }
  .hideInSmallSizes {
    display: none;
  }
  .showInSmallSizes {
    display: inline;
  }
  .getInTouchBg {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
}
@media screen and (max-width: 992px) and (min-width: 786px) {
}
@media screen and (max-width: 786px) {
}
@media screen and (max-width: 600px) {
  .footer-left ul li a {
    font-size: 14px;
  }
  .humbrger {
    gap: 15px;
  }
  .bar {
    width: 30px;
    height: 3px;
  }
  .bar2 {
    width: 20px;
    height: 3px;
    top: 9px;
  }
  h3 {
    font-size: 28px;
  }
}

/* footer */
.footer-content {
  padding: 0 100px;
}
@media screen and (max-width: 992px) {
  .footer-content {
    padding: 0 20px;
  }
}

.footer-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--color-gray-100);
}
.logo {
  width: 30%;
}
.footer-left ul {
  width: 35%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 10px;
}
.footer-left ul li a {
  text-decoration: none;
  /* color: var(--color-gray-100); */
  justify-content: space-between;
  color: #f4f4f4;
  font-size: 16px;
}
hr {
  margin: 15px 0;
  opacity: 0.2;
}
.footer-right {
  padding: 15px 0;
  text-align: center;
}
.footer-content p {
  color: var(--color-gray-100);
}
.social-links {
  width: 25%;
  display: flex;
  justify-content: right;
  gap: 10px;
}

.social-links a {
  text-decoration: none;
  background-color: rgb(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.footerActive {
  color: var(--color-blue-700) !important;
  font-weight: var(--fw-700);
}
@media screen and (max-width: 992px) {
  .footer-left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .social-links {
    width: 100%;
    justify-content: center;
  }
  .footer-left ul {
    width: 100%;
    justify-content: space-around;
  }
}
@media screen and (max-width: 600px) {
  .footer-left ul {
    justify-content: space-between;
    gap: 5px;
  }
}
